
*.swp
*.un~
*.py~
Server/data_object.py
noteerror.txt
*.pyc
Client/Project/Project/.vscode/*
Client/board.exe
Client/.vscode/launch.json
Client/.vscode/tasks.json
Client/BoardCreating_Test/main.exe

